<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== CONTROL DIFERENCIAL ==================== -->
  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>drivewhl_l_joint</left_joint>
      <right_joint>drivewhl_r_joint</right_joint>
      <wheel_separation>0.36</wheel_separation>
      <wheel_radius>0.10</wheel_radius>
      <topic>/cmd_vel</topic>
      <odom_topic>/odom</odom_topic>
      <tf_topic>/tf</tf_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_footprint</child_frame_id>
      <odom_publish_frequency>50</odom_publish_frequency>
      <publish_tf>true</publish_tf>
      <publish_odom>true</publish_odom>
    </plugin>
  </gazebo>

  <!-- ==================== MATERIALES EN GAZEBO ==================== -->
  <gazebo reference="base_link">
    <material>Gazebo/Turquoise</material>
  </gazebo>
  <gazebo reference="drivewhl_l_link">
    <material>Gazebo/Gray</material>
  </gazebo>
  <gazebo reference="drivewhl_r_link">
    <material>Gazebo/Gray</material>
  </gazebo>
  <gazebo reference="front_caster">
    <material>Gazebo/Turquoise</material>
  </gazebo>

  <!-- ==================== FRICCION DE LAS RUEDAS ==================== -->
  <gazebo reference="drivewhl_l_link">
    <mu1>1.2</mu1>
    <mu2>0.2</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
  </gazebo>
  <gazebo reference="drivewhl_r_link">
    <mu1>1.2</mu1>
    <mu2>0.2</mu2>
    <kp>1000000.0</kp>
    <kd>10.0</kd>
  </gazebo>
  <gazebo reference="front_caster">
    <mu1>0.01</mu1>
    <mu2>0.01</mu2>
    <kp>100000.0</kp>
    <kd>1.0</kd>
  </gazebo>

</robot>
