<?xml version="1.0"?>
<robot name="dif_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== ROBOT BASE (links, joints, colisiones, inercias) ==================== -->
  <xacro:include filename="robot.urdf.xacro"/>

  <!-- ==================== PLUGINS DE SENSORES PARA GAZEBO ==================== -->
  <xacro:include filename="gz_sensors.xacro"/>

  <!-- ==================== PLUGIN DE CONTROL DIFERENCIAL PARA GAZEBO ==================== -->
  <xacro:include filename="gz_control.xacro"/>

</robot>
