<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ==================== IMU ==================== -->
  <link name="imu_link">
    <visual>
      <geometry><box size="0.1 0.1 0.1"/></geometry>
      <material name="red_mat"><color rgba="1.0 0.0 0.0 1.0"/></material>
    </visual>
    <collision>
      <geometry><box size="0.1 0.1 0.1"/></geometry>
    </collision>
    <xacro:box_inertia m="0.1" w="0.1" d="0.1" h="0.1"/>
  </link>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 ${base_height/2 + 0.05}" rpy="0 0 0"/>
  </joint>

  <!-- ==================== LIDAR ==================== -->
  <link name="lidar_link">
    <visual>
      <geometry><cylinder radius="0.05" length="0.055"/></geometry>
      <material name="black_mat"><color rgba="0.1 0.1 0.1 1.0"/></material>
    </visual>
    <collision>
      <geometry><cylinder radius="0.05" length="0.055"/></geometry>
    </collision>
    <inertial>
      <mass value="0.125"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 ${base_height/2 + 0.08}" rpy="0 0 0"/>
  </joint>

  <!-- ==================== CAMARA ==================== -->
  <link name="camera_link">
    <visual>
      <geometry><box size="0.015 0.13 0.022"/></geometry>
      <material name="red_mat"><color rgba="1.0 0.0 0.0 1.0"/></material>
    </visual>
    <collision>
      <geometry><box size="0.015 0.13 0.022"/></geometry>
    </collision>
    <inertial>
      <mass value="0.035"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_link"/>
    <origin xyz="${base_length/2} 0 ${base_height/4}" rpy="0 0 0"/>
  </joint>

  <!-- Frame auxiliar para la cámara de profundidad -->
  <link name="camera_depth_frame"/>
  <joint name="camera_depth_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
    <origin xyz="0.002 0 0" rpy="0 0 0"/>
  </joint>

</robot>
